.home-banner {
  position: relative;
  height: 645px;
  background-image: url("./assets/purple.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  opacity: 0;
  transition: opacity 1s ease, background-position 1s ease;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5)
  );

  /* Add a gradient background */
  background-size: 200% 100%;
  animation: shine 2s infinite linear;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.overlay.show {
  opacity: 1;
}

@keyframes shine {
  0% {
    background-position: -100% 0; /* Start position of the shine */
  }
  100% {
    background-position: 200% 0; /* End position of the shine */
  }
}
